// @import 'libs/bootstrap-reboot.min';
// @import 'libs/font';
// @import 'libs/slick';
// @import 'libs/animate';

@import 'base/variables';
@import 'base/mixins';
@import url(//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css);
* {
    font-family: 'Roboto', sans-serif;
    // font-family: 'Roboto Condensed', sans-serif;    
}

body {    
    margin: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;

    @media (max-width: 1200px) {
        max-width: 950px;
    }

    @media (max-width: 991px) {
        max-width: 760px;
    }

    @media (max-width: 767px) {
        max-width: 560px;
    }

    @media (max-width: 575px) {

        padding: 0 10px 0 10px;
    }
}

@import 'blocks/buttons';
@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/work';
@import 'blocks/agent';
@import 'blocks/price';
@import 'blocks/consult';
@import 'blocks/scheme';
@import 'blocks/feed';
@import 'blocks/question';
@import 'blocks/footer';

@import 'blocks/media';
