.consult {
    padding: 0 0 79px 0px;
    position: relative;
    &__title {
        font-size: 28px;
        line-height: 22px;
        text-align: center;
        font-weight: 400;
        margin-bottom: 76px;
    }
    &__form {
        border: 1px solid #c4c4c4 ;
        display: flex;
        justify-content: center;
        padding: 66px 0 42px 0;
    }

    &__wrap {
        top: 0;
        left: 50%;
        transform: translate(-50%, 46%);
        position: absolute;
        background-color: #fff;
    }

    &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border: 1px solid $main-color;
        border-radius: 100%;
        margin: 0 auto;
        margin: 0 10px;
        img {
            margin-bottom: 7px;
        }
    }

    input {
        width: 237px;
        height: 43px;
        font-size: 13px;
        line-height: 24px;
        font-weight: 300;
        border-radius: 43px;
        border: 1px solid #c9c9c9;
        margin: 0 3px 10px 3px;
        padding-left: 28px;

    }

    &__wrap-1 {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 46%);
        position: absolute;
        background-color: #fff;
    }
    &__btn {
        width: 180px;
        margin: 0 14px;
        &:hover {
            color: #000;
        }
    }



    
}