.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 22px;
    &__logo {
        margin-right: 26px;

    }
    .menu {
        display: flex;
        justify-content: space-between;
        width: 600px;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-right: 16px;
        &__link {
            color: #FFFFFF;
            font-size: 15px;
            line-height: 30px;
            font-weight: 400;
            transition: all 400ms ease; 
            text-decoration: none;
            &:hover {
                color: $main-color;
                border-bottom: 1px solid;

            }
        }
        &__item {
            border-right: 1px dotted #888a92;
            padding-right: 15px;
            z-index: 1;
            &:last-child{
                border-right: none;
                padding-right: 0;
            }
                
        }

    }
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__contacts {
        margin-bottom: 20px;
        margin-right: 17px;
    }
    &__desc {
        font-size: 14px;
        font-weight: 300;
        color: #FFF;
        text-align: right;
    }
    a{
        font-size: 19px;
        line-height: 24px;
        font-weight: 700;
        color: #FFF;
        transition: all 400ms ease; 
        text-decoration: none;
        &:hover {
            color: $main-color;
        }
    }
    &__btn {
        margin-bottom: 15px;
    }
    
// hamburger
    .hamburger {
        display: none;
    }

}