@media (max-width: 1200px) {
    .promo{
        .header {
            .menu {
                margin-bottom: 0;
            }
            &__wrapper {
                flex-direction: column;
            }
            &__contacts {
                margin-bottom: 10px;
            }
            &__btn {
                margin-bottom: 0;
            }
        }
        &__subheader {
            padding-top: 20px;
        }
    }
    .advantages {
        &__item {
            width: 460px;
        }
    }

    .work {
        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__item {
            margin-bottom: 30px;
        }
    }
    .price {
        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    .feed {
        .slick-prev {
            left: 38%;
        }
        
        .slick-next {
            right: 38%;
        }
    }

}

@media (max-width: 991px) {     
    .promo{
        .header {
            width: 90%;
            &__wrapper {
                flex-direction: row;
            }
            &__btn {
                margin-bottom: 0;
            }
        }

        .menu {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all;
            &_active {
                left: 0;
            } 
            &__item {
                text-align: center;
                padding-right: 0;
                border: none;
                margin: 10px 0;
                padding: 5px 0;
            }
            &__link{
                font-size: 20px;
                display: block;
            }
                
        }

        .hamburger {
            display: block;
            position: absolute;
            right: 20px;
            top: 50px;
            padding-top: 15px;
            width: 26px;
            height: 30px;
            span {
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                margin-bottom: 4px;
                transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
            }
            &_active {
                margin-top: 6px;
                span{
                    margin-bottom: -2px;
                    &:nth-child(1) {
                        transform: rotate(405deg);
                    }
                    &:nth-child(2){
                        display: none;
                    }
                    &:nth-child(3){
                        transform: rotate(-405deg);
                    }
                }   
            }
        }


        &__subheader {
            font-size: 20px;
        }
        &__header {
            margin: 0;

            font-size: 55px;
            line-height: 72px;
        }
        h2 {
            margin: 0;
            font-size: 32px;
            line-height: 42px;
        }

        &__items {
            justify-content: space-evenly;
        }

        &__item {
            max-width: 195px;
            &-desc {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .advantages {
        &__items{
            justify-content: center;
        }
        &__item {
            width: 530px;
        }
    }

    .consult {
        &__form {
            flex-wrap: wrap;
        }
    }

    .question {
        textarea {
            width: 86%;
        }
    }
    .foot{
        &__logo{
            margin-right: 10px;
            width: 400px;
        }
        &__title{
            margin: 10px 0 0 10px;
        }
        &__contacts {
            margin-right: 10px;
        }
    }
}

@media (max-width: 767px) {
    .promo {
        &__subheader {
            font-size: 18px;
        }
        &__header {
            font-size: 50px;
            line-height: 60px;
        }
        h2 {
            font-size: 28px;
            line-height: 36px;
        }

        &__items {
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        &__item {
            max-width: 195px;
            margin-top: 15px;
            &-desc {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
    .title {
        font-size: 20px;
    }
    .subtitle {
        font-size: 16px;
    }

    .agent{
        &__title {
            font-size: 22px;
        }
        &__desc {
            font-size: 16px;
        }
    }

    .consult {
        &__title {
            font-size: 22px;
        }
    }

    .question {
        &__items {
            flex-wrap: wrap;
            justify-content: center;
        }
        textarea {
            width: 80%;
        }
    }
    .foot {
        &__wrapper {
            justify-content: center;
            flex-wrap: wrap;
        }
        &__politics {
            margin: 5px 0px 0 0;
        }

    }

    
}

@media (max-width: 575px) {
    .promo{
        .header {
            width: 85%;
            &__logo{
                margin-right: 10px;
                img{
                    width: 80px;
                }
            }
            &__wrapper {
                flex-direction: column;
            }
            .menu {
                width: 70%;
            }
            &__contacts {
                margin-right: 0px;
            }
            &__desc {
                font-size: 12px;
            }
            &__phone {
                font-size: 16px;
                display: block;
                text-align: right;
            }
            &__btn {
                width: 140px;
                font-size: 11px;

            }
        }

        &__subheader {
            font-size: 16px;
        }
        &__header {
            font-size: 36px;
            line-height: 40px;
        }
        h2 {
            font-size: 22px;
            line-height: 30px;
        }
    }
    .advantages {
        &__items {
            margin-right: 0;
        }
        &__item {
            width: auto;
        }
        &__img {
            margin: 0 5px 0 0;
        }
        &__desc {
            line-height: 18px;
        }
    }

    .work {
        &__item {
            max-width: 310px;
            width: auto;

            img {
                
                display: block;
                // margin: 0 auto; 
                max-width: 310px;
            }
        }
    }

    .question {
        &__items {
            padding-right: 0;
            padding-left: 0;
        }
        &__wrap {
            padding: 0 40px 25px 40px;
        }
        textarea {
            display: block;
            margin: 0 auto 15px auto;
        }
    }

    .foot {
        padding-bottom: 20px;
        &__title {
            font-size: 14px;
        }
        &__items {
            flex-wrap: wrap;
            justify-content: space-around;
            margin-top: 10px;
        }
        &__divider {
            margin-top: 10px;
        }
        &__phone {
            font-size: 16px;
            display: block;
            text-align: right;
        }
        &__btn {
            width: 140px;
            font-size: 11px;
        }
        &__politics {
            margin: 5px 10px 10px 10px;
        }
    }

}

@media (max-width: 360px) {
    .modal {
        &__close {
            right: 35px;
        }
    }
}